<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Help</h1>
<p>
  <a href="christianstevenson.wordpress.com/">This is my blog.</a>
  is a project to get Chris Stevenson to learn how to write software utilizing <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample page he's created for the tutorial.
</p>